<!-- <h1 style="text-align: center">{{ title }} app is running!</h1> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid space-between justify-content-start">
    <h2 class="mr-3" href="#">Entries</h2>
    <div class="dropdown m-3">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-auto-close="outside"
      >
        Filter
      </button>
      <form class="dropdown-menu p-4">
        <div class="mb-3">
          <label for="FromDate" class="form-label">FromDate</label>
          <input
            type="date"
            class="form-control"
            id="FromDate"
            placeholder="FromDate"
          />
        </div>
        <div class="mb-3">
          <label for="ToDate" class="form-label">ToDate</label>
          <input
            type="date"
            class="form-control"
            id="ToDate"
            placeholder="ToDate"
          />
        </div>
        <div class="mb-3">
          <label for="DoorId" class="form-label">DoorId</label>
          <input
            type="text"
            class="form-control"
            id="doorId"
            placeholder="doorId"
          />
        </div>

        <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>
    </div>
  </div>
</nav>
<!-- <ng-container *ngFor="let entry of entries"> -->
<!-- <app-entry [entry]="entry"></app-entry> -->
<app-entry></app-entry>
<!-- </ng-container> -->
<!-- <app-entry [entry]="entry" *ngFor="let entry of entries"></app-entry> -->
