<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid space-between justify-content-start">
    <h2 class="mr-3" href="#">Entries</h2>
    <div class="dropdown m-3">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-auto-close="outside"
      >
        Filter
      </button>
      <form
        class="dropdown-menu p-4"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
      >
        <div class="mb-3">
          <label for="fromDate" class="form-label">From Date:</label>
          <input
            formControlName="fromDate"
            type="date"
            class="form-control"
            id="FromDate"
            [min]="now"
            [(ngModel)]="fromDate"
            (ngModelChange)="cambioFecha()"
          />
          <span
            style="color: red"
            *ngIf="
              (form.get('fromDate')?.invalid && form.get('fromDate')?.dirty) ||
              form.get('fromDate')?.touched ||
              isSubmitted
            "
            >Campo Requerido</span
          >
        </div>
        <div class="mb-3">
          <label for="toDate" class="form-label">To Date:</label>
          <input
            formControlName="toDate"
            type="date"
            class="form-control"
            id="toDate"
            [min]="deshabilitar"
          />
          <span
            style="color: red"
            *ngIf="
              (form.get('toDate')?.invalid && form.get('toDate')?.dirty) ||
              form.get('toDate')?.touched ||
              isSubmitted
            "
            >Campo Requerido</span
          >
        </div>
        <div class="mb-3">
          <label for="DoorId" class="form-label">Door ID:</label>
          <input
            formControlName="doorId"
            type="text"
            class="form-control"
            id="doorId"
          />
          <span
            style="color: red"
            *ngIf="
              (form.get('doorId')?.invalid && form.get('doorId')?.dirty) ||
              form.get('doorId')?.touched ||
              isSubmitted
            "
            >Campo Requerido</span
          >
        </div>

        <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>
    </div>
  </div>
</nav>
<app-entry [entries]="entries"></app-entry>
